@charset "utf-8";
/* CSS Document */
p {
	color: white;
	font-family: "CabinSketch";
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: black;
	padding: 20px;
}
h1{
	font-family: "Imeprezime.ttf";
	color: white;
}
h2{
	font-family:"CabinSketch";
	color: white;
}
h3{
	font-family:"CabinSketch";
	color: black;
}
h4{
	font-family:"CabinSketch";
	color: white;
	font-family: "CabinSketch";
	font-size: 16px;
	line-height: 18px;
	width: 800px;
	background-color: black;
	padding: 20px;
}
h5{
	font-family:"CabinSketch";
	color: white;
	font-family: "CabinSketch";
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: black;
	padding: 20px;
}
h6{
	font-family:"CabinSketch";
	color: white;
	font-size: 30px;
}
h7{
	font-family: "CabinSketch";
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: black;
	padding: 20px;
}
h8{
	font-family:"CabinSketch";
	color: white;
	font-size: 30px;
}
span {color: rgb(255,0,255);}
	.background{
	background-image: url("Wuwasc.png");
	}



